#heatmapContainer{
	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 0.0;
	pointer-events: none;
}

.screenshot-container{
	position: relative;
	float: left;
	width: 50%;
	height: 500px;
	padding: 20px;
	overflow: hidden;
	box-sizing: border-box;
}

.canvas{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 20px;
	box-sizing: border-box;
}

#reactional-header{
	text-align: center;
	background-color: #f7e850;
	box-sizing: border-box;
}


.screenshot, .heatmap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
}